*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 20px 30px;
    background: rgb(50, 37, 125);
    background: linear-gradient(0deg, rgba(50, 37, 125, 1) 0%, rgba(11, 6, 62, 1) 100%);
    height: 100vh;
    font-family: 'Pixelify Sans', sans-serif;
    border: 60px solid #020020;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.select-game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-game-title {
    font-size: 6.5em;
    color: #fff;
    margin-bottom: 150px;
}

.games__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.game {
    width: 380px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: 1px solid #0e0e0e;
    box-shadow: 4px 4px 4px 2px #0e0e0e;
    cursor: pointer;
}

.game:hover {
    box-shadow: 0px 0px 8px 5px #a3a3a3;
    transition: .2s;
}

.memory-game {
    background-image: url('/assets/images/memory-game-bg.jpg');
}

.hangman-game {
    background-image: url('/assets/images/hangman-game.jpg');
}

.mine-sweeper-game {
    background-image: url('/assets/images/mine-sweeper-game.png');
}