*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0px 30px;
    background-color: #eeca84;
    font-family: 'Pixelify Sans', sans-serif;
}

.header__title {
    background-image: url('/assets/images/hangman-game-title.PNG');
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.title-win-lose {
    font-size: 2.5em;
}

.game__container {
    display: flex;
    justify-content: space-evenly;
}

.game__image-btnrestart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game__image {
    position: relative;
    background-image: url('/assets/images/hangman-without-man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 650px;
    height: 650px;
}

.game__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.game__content-letters {
    display: grid;
    grid-template-columns: repeat(7, 95px);
    grid-template-rows: repeat(4, 95px);
    gap: 5px;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.game__content-word {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px 12px;
}

.gameword__title {
    font-size: 2.5em;
    padding-left: 10px;
}

.game__content-errors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__content-fails {
    display: flex;
    gap: 8px;
    padding: 10px;
}

.game__content-lifes {
    display: flex;
    width: 30%;
}

.lifes {
    height: 40px;
    width: 40px;
    background-image: url('/assets/images/hearth.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.letter {
    display: flex;
    background-color: #d19b67;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    color: #49276d;
    border: 3px solid #8f2e37;
    font-size: 4em;
    cursor: pointer;
}

.letter:hover {
    background-color: rgb(223, 198, 166);
    transition: .2s;
}

.character {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 127, 91);
    border: 3px solid #8f2e37;
    color: transparent;
    font-size: 4em;
    height: 100px;
    width: 90px;
}

.wrong-letter {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    height: 100px;
    width: 90px;
    background-color: #de9090;
    color: #000;
}

.show-letter {
    color: #49276d;
    background-color: rgb(119, 168, 119);
}

.banners__container {
    display: flex;
    flex-direction: column;
}

.game__image-lose {
    background-image: url('/assets/images/hangman-died.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 550px;
    height: 450px;
}

.game__image-win {
    background-image: url('/assets/images/hangman-win-definitivce.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.hide {
    display: none;
}

.btn-restart {
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 2em;
    cursor: pointer;
    border: 3px solid #49276d;
    background-color: #9d3d46;
    color: #fff;
    font-family: 'Pixelify Sans', sans-serif;
}

.btn-restart:hover {
    background-color: #ed6774;
}

.game-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 290px;
    top: 70px;
}

.rope {
    background-image: url('/assets/images/hangman-body-parts/rope.PNG');
}

.head {
    background-image: url('/assets/images/hangman-body-parts/head.PNG');
    position: absolute;
    left: 270px;
    top: 100px;
    width: 100px;
    height: 100px;
}

.body {
    background-image: url('/assets/images/hangman-body-parts/body.PNG');
    position: absolute;
    left: 295px;
    top: 176px;
    width: 60px;
    height: 60px;
}

.right-arm {
    background-image: url('/assets/images/hangman-body-parts/right-arm.PNG');
    position: absolute;
    left: 345px;
    top: 176px;
    width: 60px;
    height: 60px;
}

.left-arm {
    background-image: url('/assets/images/hangman-body-parts/left-arm.PNG');
    position: absolute;
    left: 242px;
    top: 176px;
    width: 60px;
    height: 60px;
}

.leg {
    background-image: url('/assets/images/hangman-body-parts/leg.PNG');
    position: absolute;
    left: 280px;
    top: 235px;
    width: 60px;
    height: 60px;
}