*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1400px;
  padding: 20px 30px;
  background-color: #121234;
  font-family: 'Pixelify Sans', sans-serif;
}

.game-title {
  font-size: 4.7em;
  text-align: center;
  color: #fff;
}

.game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.game__board {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 6px;
}

.game-specifications {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 420px;
  margin-left: 40px;
}

.game-info {
  background-color: #a2a2ca;
  height: 95px;
  width: 200px;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.game-info-tittle {
  margin-bottom: 10px;
}

.game-info-spans {
  font-weight: bold;
  font-size: 1.7em;
  color: #00001a;
}

.cell {
  background-color: #6f88c7;
  height: 90px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  border: 1px solid #000;
  box-shadow: 2px 3px 3px #000;
}

.cell-clicked {
  background-color: rgb(212, 223, 255);
}

.btn-play {
  font-family: 'Pixelify Sans', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 1.9em;
  cursor: pointer;
  border: 2px solid #6f88c7;
  background-color: #121234;
  color: #fff;
}

.btn-play:hover {
  background-color: #6f88c7;
  border-color: #fff;
  transition: .3s;
}

.banner {
  background-color: #6f88c7;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 20px;
}

.banner-title {
  font-size: 1.9em;
}

.banner-img {
  width: 230px;
  height: 230px;
}

.banner-lose {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 20px;
  width: 700px;
  height: 400px;
  background-image: url('/assets/images/gameover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hide {
  display: none;
}