*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 30px;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: rgb(209, 136, 0);
}

span {
    font-size: 2em;
    font-weight: bold;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.game-title {
    font-size: 7em;
    text-align: center;
    margin: 0;
    text-shadow: 4px 4px 2px rgb(51, 51, 51);
    margin-bottom: 80px;
}

.game__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game__board {
    width: 404px;
    height: 404px;
    background-color: lightgray;
    border: 10px solid darkgrey;
    display: flex;
    flex-wrap: wrap;
}

.game__board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-clicked {
    background-color: rgb(120, 120, 120);
}

.flag-clicked {
    background-color: rgb(163, 163, 163); ;
}

.bomb-clicked {
    background-color: rgb(206, 74, 74);
}


/* COLORES PARA LOS NUMEROS DE LAS MINAS */
.x1 {
    color: blue;
}

.x2 {
    color: red;
}

.x3 {
    color: green;
}

.x4 {
    color: purple;
}

.x5 {
    color: orange;
}